<h1 class="text-center mt-4 py-3">My bookings</h1>

<div class="container vh-100">
  <div class="cards-booking">
    <%if @bookings.empty?%>
      <div class="card-product-none">
        <div class="card-product-infos">
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
    <%else%>
      <% @bookings.each do |booking| %>
        <div class="card-product">
          <%= cl_image_tag booking.item.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="card-product-infos">
            <h2><%= booking.item.name%></h2>
            <p>You've booked me from <strong><%=booking.start%></strong> to <strong><%=booking.return%></strong>.</p>
            <p><strong class="fas fa-comment"></strong> <%=booking.comment%></p>
          </div>
          <%= link_to "Edit This Booking", edit_booking_path(booking), class: "btn btn-info edit-book" %>
          <%= link_to "Delete", booking_path(booking), method: :delete, data: {confirm: "Are You Sure?"}, class: "btn btn-danger delete-book" %>
        </div>
      <% end %>
    <%end%>
  </div>
</div>
