<h1 class="text-center mt-4 py-3">All my bookings</h1>

<ol>
  <% @bookings.each do |booking| %>
    <li class="tabs">
      <p class="tabs-item"><%= booking.comment %></p>
      <p class="tabs-item"><%= booking.start %></p>
      <p class="tabs-item"><%= booking.return %></p>
      <p class="tabs-item" id="fourth-child"><%= link_to "Edit This Booking", edit_booking_path(booking), class: "btn-ghost" %></p>
      <p class="tabs-item"><%= link_to "Delete", booking_path(booking), method: :delete, data: {confirm: "Are You Sure?"}, class: "btn-ghost" %></p>
    </li>
  <% end %>
</ol>

<div class="container vh-100">
  <div class="cards-booking">
    <% @bookings.each do |booking| %>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2><%= booking.comment%></h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
