<h1>All my bookings</h1>
<ol>
  <% @bookings.each do |booking| %>
    <li>
      <%= booking.comment %> |
      <%= booking.start %> |
      <%= booking.return %>
      <%= link_to "Edit This Booking", edit_booking_path(booking) %>
      <%= link_to "Delete", booking_path(booking), method: :delete, data: {confirm: "Are You Sure?"} %>
    </li>
  <% end %>
</ol>
