<div style="height: 71vh;">
  <div class="form-booking">
    <%= simple_form_for([@item, @booking]) do |f|%>
    <%= f.input :comment %>
    <%= f.input :start, as: :date, html5: true %>
    <%= f.input :return, as: :date, html5: true%>
    <%= f.submit class:"btn btn-ghost"%>
  <% end %>
  </div>
</div>
