<div style="height: 100vh;">
  <div class="form-booking p-4">
  <h2>All your bookings</h2>
    <%= simple_form_for([@item, @booking]) do |f|%>
    <%= f.input :comment %>
    <%= f.input :start, as: :date, html5: true %>
    <%= f.input :return, as: :date, html5: true %>
    <%= f.submit class:"btn btn-flat btn-lg btn-block"%>
  <% end %>
  </div>
</div>
