<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1544078751-58fee2d8a03b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);">
  <div class="container">
    <h1>Looking to make your wedding day magical:</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <%= link_to 'See our products', items_path, class: "btn btn-flat" %>
    <%# This will be replaced by a search bar afterwards %>
  </div>
</div>

<div class="text-center mt-4">
  <%# <%= link_to 'See our products', items_path, class: "btn-ghost " %>

  <% if user_signed_in? %>
    <% if policy(Item).create? %>
      <%= link_to "New item", new_item_path, class: "btn-ghost " %>
    <% end %>
  <% end %>
</div>

<div class="cards home-cards">
  <% @categories.each do |category| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(<%= category[:url] %>)">
      <%= category[:name] %>
    </div>
  <% end %>
</div>
