<div class="m-0 items-top">
  <% if @items.size == 0 %>
    <% itemnumber = "Sorry, we have no items to rent"%>
  <% elsif @items.size == 1 %>
    <% itemnumber = "You have 1 item ready to rent, be quick"%>
  <% else %>
    <% itemnumber = "You have #{@items.size} items ready to rent. Search them here"%>
  <% end %>
  <%= form_tag items_path, method: :get do %>
      <div class="search-form-control form-group">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control string required",
          id: "search_query",
          placeholder: "#{itemnumber}"
        %>
        <%= submit_tag "Search", class: "btn btn-flat" %>
      </div>
  <% end %>
</div>

<div class="index-display mx-4">
  <div class="cards">
    <% @items.each do |item| %>
      <div class="card-trip">
        <%if item.photo.attached? %>
          <%= cl_image_tag item.photo.key, height: 500, width: 400, :crop => "fit" %>
        <%else%>
          <img src="https://images.unsplash.com/photo-1522675378431-f2c7406d4173?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" />
        <%end%>
        <div class="card-trip-infos">
            <h2><%= item.name%></h2>
            <p><span class="item-category">#<%= item.category.name%></span></p>
            <% if item.description.size > 40 %>
              <p><%= item.description.first(40)%>...</p>
            <% else %>
              <p><%= item.description%></p>
            <% end %>

            <%= link_to 'More Info', item_path(item), class: "btn btn-primary btn-block" %>
        </div>
        </div>
      <% end %>
  </div>
    <div id="map"
          style="width: 1200px; height: 80vh;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
