<div class="container mt-4">
  <div class="cards-item">
    <div class="card-item">
      <%= link_to items_path do %>
        <i class="fas fa-arrow-circle-left item-name-show"></i>
      <%end%>
      <span class="item-name-show"><strong><%= @item.name %></strong></span>

      <h4><strong>Description</strong></h4>
      <p> <%= @item.description %> </p>

      <h5><strong>Category</strong></h5>
      <p> <%= @item.category.name %> </p>

      <% if @item.price % 1 == 0 %>
        <h5><strong> Rental Price</strong></h5>
        <p> Rs. <%= @item.price.round %>.00 / day </p>
      <% elsif (@item.price * 10) % 1 == 0 %>
        <h5><strong> Rental Price</strong></h5>
        <p> Rs. <%= @item.price %>0 / day</p>
      <% else %>
        <h5><strong> Rental Price</strong></h5>
        <p> Rs. <%= @item.price %> / day </p>
      <% end %>

      <h5><strong>Owner</strong></h5>
      <p> <%= "#{@item.user.first_name} #{@item.user.last_name}"%> </p>


      <p>
        <strong>Rating</strong>
        <% if @ratings.present? %>
          <% @ratings.round.times do %>
            <span><i class="fas fa-star"></i></span>
          <% end %>
        <% end %>
      </p>

    <% if user_signed_in? && policy(Booking).new? %>
      <%= link_to 'Add booking', new_item_booking_path(@item), class: "btn btn-success" %>
    <% end %>
    <% if user_signed_in? && policy(@item).edit? %>
      <%= link_to 'Edit Item', edit_item_path(@item), class: "btn btn-flat" %>
    <% end %>
      </div>

      <% if @item.photo.attached? %>
          <div class="card-image" data-toggle="modal" data-target="#exampleModal" style="border-radius:5px; background-image: url('<%= cl_image_path @item.photo.key,:background=>"white", :gravity=>"auto", :height=>800, :width=>800, :crop=>"fill_pad" %>')"></div>
      <%else%>
        <div class="card-image" data-toggle="modal" data-target="#exampleModal" style="border-radius:5px; background-image: url(https://images.unsplash.com/photo-1502727135886-df285cc8379f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2VkZGluZyUyMGRyZXNzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)"></div>
      <%end%>
  </div>

  <div class="col-10 mx-auto">

      <% if @item.reviews.blank? %>
        <%
=begin%>
 <h3>Nobody has yet reviewed</h3>
<%
=end%>
      <% else %>
        <h3><%= pluralize @item.reviews.size, "review" %></h3>
      <% end %>


      <div class="d-flex mt-4 mb-4">
        <div class="reviews col-6">
          <% @item.reviews.each do |review| %>
            <div class="review">
              <p><%= Time.now.strftime("%B %d, %Y") %></p>
              <span id="review-<%= review.id %>"><%= review.comment %></span>
              <% review.rating.times do %>
                <span><i class="fas fa-star"></i></span>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="review-form col-6" id="review-form">

          <% if user_signed_in? && policy(Review).create? %>
            <% if @item.reviews.blank? %>
              <h3>Be the first to leave a review</h3>
            <% else %>
              <h3>Add a review</h3>
            <% end %>
            <%= render 'shared/reviewform' %>
          <% end %>

        </div>
      </div>

  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <%
=begin%>
 <h5 class="modal-title" id="exampleModalLabel"><%= @item.name %></h5>
<%
=end%>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height:80vh">
        <% if @item.photo.attached? %>
          <div class="" style="border-radius:5px; height:100%; background-image: url('<%= cl_image_path @item.photo.key, :background=>"white", :gravity=>"auto", :height=>800, :width=>800, :crop=>"fill_pad" %>')"></div>
        <%else%>
          <div class="" style="border-radius:5px; background-image: url(https://images.unsplash.com/photo-1502727135886-df285cc8379f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2VkZGluZyUyMGRyZXNzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)"></div>
        <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
