<div class="text-title">
  <br>
  <h2><strong><%= @item.name %></strong></h2>
  <hr>
</div>

<div class="cards-item">
  <div class="card-item">
    <p><strong>Description:</strong></p>
    <p class="text-justify mx-4"> <%= @item.description %> </p>
    <p><strong>Category:</strong> <%= @item.category.name %> </p>
    <% if @item.price % 1 == 0 %>
      <p><strong> Rental Price:</strong> Rs. <%= @item.price.round %>.00 /Day </p>
    <% elsif (@item.price * 10) % 1 == 0 %>
      <p><strong> Rental Price:</strong> Rs. <%= @item.price %>0 /Day</p>
    <% else %>
      <p><strong> Rental Price:</strong> Rs. <%= @item.price %> /Day </p>
    <% end %>
    <p><strong>Rating:</strong>
      <% @ratings.round.times do %>
            <span><i class="fas fa-star"></i></span>
          <% end %></p>
    <p><strong>Owner:</strong> <%= "#{@item.user.first_name} #{@item.user.last_name}" %> </p>

    <%= link_to 'Go back', items_path, class: "btn-ghost ml-4" %>

  <% if user_signed_in? && policy(Booking).new? %>
    <%= link_to 'Add booking', new_item_booking_path(@item), class: "btn-ghost" %>
  <% end %>

  <% if user_signed_in? && policy(@item).edit? %>
    <%= link_to 'Edit Item', edit_item_path(@item), class: "btn-ghost ml-4" %>
  <% end %>
    </div>
    <% if @item.photo.attached? %>
        <div class="card-image" style="border-radius:5px; background-image: url('<%= cl_image_path @item.photo.key, :crop => "fit" %>')"></div>
    <%else%>
      <div class="card-image" style="border-radius:5px; background-image: url(https://images.unsplash.com/photo-1502727135886-df285cc8379f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2VkZGluZyUyMGRyZXNzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)"></div>
    <%end%>
</div>
<br>
<hr>
<br>

<div class="col-10 mx-auto">

    <% if @item.reviews.blank? %>
      <h3>Nobody has yet reviewed <strong><%= @item.name %></strong></h3>
    <% else %>
      <h3><%= pluralize @item.reviews.size, "review" %> for <%= @item.name %></h3>
    <% end %>
  

    <div class="d-flex mt-4 mb-4">
      <div class="reviews col-6">
        <% @item.reviews.each do |review| %>
          <%= review.comment %>
          <br>
          <% review.rating.times do %>
            <span><i class="fas fa-star"></i></span>
          <% end %>
          <hr>
        <% end %>
      </div>
      <div class="review-form col-6">

        <% if user_signed_in? && policy(Review).create? %>
          <% if @item.reviews.blank? %>
            <h3>Be the first to leave a review</h3>
          <% else %>
            <h3>Add a review</h3>
          <% end %>
          <%= render 'shared/reviewform' %>
        <% end %>

      </div>
    </div>

</div>
